.label-input {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.input-text {
  width: 100%;
  text-indent: 15px;
  display: flex;
  margin-bottom: 15px;
  padding: 15px 0;
  border: unset;
  border: 1px black solid;
  border-radius: 5px;
}