@import "../../../index";

.menu {
  a {
    text-decoration: unset;
  }
  h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
    text-align: left;
    padding: 30px 10px;
    display: flex;
    color: $blue;
  }
  #my-panels {
    .title-menu {
      margin-top: 30px;
    }
    @media screen and (min-width: $desktop) {
      .title-menu {
        margin-top: 15px;
      }
    }
  }
  .tasks {
    display: flex;
    font-size: 14px;
    .task {
      width: 33%;
      height: 100px;
      margin: 0 8px;
      border-radius: 10px;
      .count {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        color: white;
        font-weight: bold;
      }
      @media screen and (min-width: $desktop) {
        margin: 0 25px;
        .count {
          justify-content: space-around;
          align-items: center;
          padding: 0;
          margin-top: 15px;
          svg {
            font-size: 40px;
            padding: 0;
            margin: auto;
          }
        }
      }
      .title-menu {
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        margin-top: 15px;
      }
    }
    .task:nth-child(1) {
      background-color: $green;
      @media screen and (min-width: $desktop) {
        .title-menu {
          margin-top: 15px;
        }
      }
    }
    .task:nth-child(2) {
      background-color: $gray;
      .title-menu {
        margin-top: 30px;
      }
      @media screen and (min-width: $desktop) {
        .title-menu {
          margin-top: 15px;
        }
      }
    }
    .task:nth-child(3) {
      background-color: $turkey;
      .title-menu {
        margin-top: 30px;
      }
      @media screen and (min-width: $desktop) {
        .title-menu {
          margin-top: 15px;
        }
      }
    }
  }
}